ul::-webkit-scrollbar {
  width: 1em;
}

ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  margin: 0;
  overflow: hidden;
}

nav {
  display: flex;
  height: 50px;
  background-color: #969088;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

nav a {
  display: inline-flex;
  height: 100%;
  align-items: center;
  padding: 0 30px;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-family: monospace;
}

nav a:hover,
#menu-btn:hover,
.topic-list li:hover {
  background-color: #4cabff;
  cursor: pointer;
}

#menu-btn {
  display: none;
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  width: 50px;
  outline: none;
}

#nav-atom {
  color: aqua;
  position: absolute;
  top: 8px;
  right: 5px;
  width: 50px;
}

#search-box-container {
  display: flex;
  align-items: center;
}

.search-box {
  display: inline-flex;
  justify-content: center;
  height: 23px;
  background-color: #fff;
  border-radius: 23px;
  padding: 7px;
  margin-left: 10px;
}
.search-btn {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  color: black;
  float: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
  transition: 0.4s ease-in-out;
  outline: none;
}
.search-btn:hover {
  background-color: #4cabff;
}

.search-box:hover > .search-input {
  width: 200px;
  padding: 0 6px;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0px;
  color: black;
  font-size: 15px;
  transition: 0.4s;
  line-height: 23px;
  width: 0px;
}
.searched-text {
  background-color: blue;
}

#nav-link-wrapper {
  display: block;
}

section {
  display: flex;
  margin-top: 50px;
}

aside {
  background-color: #4c4848;
  flex-shrink: 0;
  position: relative;
  width: 300px;
  transition: width 0.5s;
  z-index: 1;
}
aside button {
  position: absolute;
  background-color: #000;
  height: 80px;
  width: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -20px;
  border: none;
  color: aqua;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  outline: none;
  display: none;
}

aside h1 {
  text-shadow: 2px 2px black;
  margin: 0;
  font-size: 30px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: center;
  background: #f3efee;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: calc(100vh - 139px);
}

aside li {
  padding: 10px 25px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid #fff; */
  color: white;
}

aside a {
  text-decoration: none;
}
.add-hover a:hover {
  background-color: #4cabff;
}

code {
  display: block;
  margin: 20px 0;
  background-color: black;
  padding: 25px;
  width: 100%;
}

article {
  padding: 0 30px;
  text-align: left;
  overflow-y: auto;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  color: black;
  font-size: 18px;
}

article h1 {
  padding: 0;
  margin: 20px 0;
  color: #000;
  font-weight: 600;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 720px) {
  #menu-btn {
    display: inline-block;
  }

  #nav-link-wrapper {
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #000;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.5s;
  }

  .curtain-up {
    height: 0px;
  }

  .curtain-up a {
    opacity: 0;
  }

  .curtain-down {
    height: 150px;
  }

  .curtain-down a {
    opacity: 1;
  }

  nav a {
    justify-content: left;
    padding: 0 20px;
    transition: opacity 0.25s;
  }

  .search-box:hover > .search-input {
    width: 150px;
    padding: 0 3px;
  }
  aside button {
    display: block;
  }
  aside {
    width: 0px;
    z-index: 1;
  }
  .curtain-left {
    width: 300px;
  }
  article {
    position: absolute;
  }
}
